<h2>About Super Rentals</h2>

<p>The Super Rentals website exists to explore the wonderful world of Ember.js. This project allows imaginary world travel while simultaneously traversing the pathways of the Ember framework!</p>

<p>Click {{#link-to "contact"}}here{{/link-to}} to contact us.</p>
{{#link-to "index"}}Home{{/link-to}}
